<div class="row">
  <div class="card propCard col-sm-4 ml-2" style="width: 18rem;">
    <div class="shadow-lg">
      <img class="card-img-top propImg " src="assets\images\house-1.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{Property.name}}</h5>
        <p class="card-text">{{Property.type}}</p>
        <p class="card-text"><b>{{Property.price}}</b></p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="card propCard col-sm-4 ml-2" style="width: 18rem;">
    <div class="shadow-lg">
      <img class="card-img-top propImg " src="assets\images\house-2.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{Property.name}}</h5>
        <p class="card-text">{{Property.type}}</p>
        <p class="card-text"><b>{{Property.price}}</b></p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="card propCard col-sm-4 ml-2" style="width: 18rem;">
    <div class="shadow-lg">
      <img class="card-img-top propImg " src="assets\images\house-3.jpeg" alt="assets\images\house-default.jpeg">
      <div class="card-body">
        <h5 class="card-title">{{Property.name}}</h5>
        <p class="card-text">{{Property.type}}</p>
        <p class="card-text"><b>{{Property.price}}</b></p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="card propCard col-sm-4 ml-2" style="width: 18rem;">
    <div class="shadow-lg">
      <img class="card-img-top propImg " src="assets\images\house-4.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{Property.name}}</h5>
        <p class="card-text">{{Property.type}}</p>
        <p class="card-text"><b>{{Property.price}}</b></p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
</div>
